.box-1{
    border: 1px solid black;
    background-color: rgb(12, 158, 226);
    width: 400px;
    height: 400px;
}

.box-2{
    border: 1px solid black;
    background-color: rgb(218, 125, 5);
    width: 100px;
    height: 100px;
}

p {
    font-size: clamp(14px,1vw, 24px);
    color: blue;
}